<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duongnx.ndk.examples">

    <!-- RECORD_AUDIO is needed to create an audio recorder -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <!-- MODIFY_AUDIO_SETTINGS is needed to use audio effects such as environmental reverb -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
    <!-- INTERNET is needed to use a URI-based audio player, depending on the URI -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HelloJniActivity"></activity>
        <activity android:name=".activities.PlasmaActivity"></activity>
        <activity android:name=".activities.GL2JNIActivity"></activity>
        <activity android:name=".activities.GLES3JNIActivity"></activity>
        <activity android:name=".activities.JniCallbackActivity"></activity>
        <activity android:name=".activities.HelloNeonActivity"></activity>
        <activity android:name=".activities.SanAngelActivity"></activity>
        <activity android:name=".activities.AccelerometerGraphActivity"></activity>
        <activity android:name=".activities.NativePlasmaActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="native-plasma" />
        </activity>
        <activity
            android:name=".activities.NativeActivity"
            android:configChanges="orientation|keyboardHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="native-activity" />
        </activity>
        <activity android:name=".activities.NativeAudioActivity"></activity>
        <activity android:name=".activities.NativeMediaActivity"></activity>
        <activity android:name="com.duongnx.teapotclassic.TeapotNativeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="TeapotNativeActivity" />
        </activity>
        <activity android:name="com.duongnx.moreteapots.MoreTeapotsNativeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="MoreTeapotsNativeActivity" />
        </activity>
        <activity android:name="com.duongnx.choreographer.ChoreographerNativeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="ChoreographerNativeActivity" />
        </activity>
        <activity
            android:name="com.duongnx.endlesstunnel.EndlessTunnelActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="game" />
        </activity>
    </application>

</manifest>